body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardContainer {
  position: relative;
  width: 100%;
}

.cardContent {
  width: 100%;
}

.cardContainer .heartIcon {
  position: absolute;
  top: 8%;
  left: 85%;
  text-align: center;
}

.cardContainer .shoe-price {
  position: absolute;
  top: 87%;
  left: 5%;
  padding: 5px;
  background-color: white;
  font-size: 80%;
}